<h1>Welcome to our app, <%= @user.email %>!</h1>
<p>You have successfully signed up to our app. Your username is: <%= @user.email %></p>
<p>To login to the app, please click on the link below: <%= link_to "Pet Shelter", root_url %></p>
<p>Thank you for using our app!</p>
<p>Best regards, The App Team</p>
