<div class="mt-5">
<hr>
   <% @comments&.each do |comment| %>
        <strong><%= comment.user&.email || "Anonymous" %></strong>
        <p><%= comment.body %></p>
        <% if policy(comment).destroy? %>
            <%= button_to "Delete",
                comment_path(comment),
                method: :delete,
                form: { data: { turbo_confirm: "Are you sure?" } },
                class: "btn btn-danger d" %>
        <% end %>
        <hr>
   <% end %>
</div>
