
<h3>Comments</h3>
 <p>Have you ever met this dog? Leave a comment about your experience</p>
 <% if current_user %>
    <% if policy(@comment).create? %>
       <%= render "comments/form_create_comment", commentable_id: commentable_id, commentable_type: commentable_type %>
    <% else %>
        <br>
        <hr>
        <p>Please log in to leave a comment</p>
        <%= link_to "Log in", new_user_session_path, class: "btn btn-secondary" %>
    <% end %>
 <% end %>
