<div>
    <h1>Dogs</h1>
    <%= link_to "New Dog", new_dog_path %>
    <% @dogs.inspect %>
    <% unless @dogs %>
        <p>No dogs found</p>
    <% else %>
        <div class="row">
            <%= render @dogs %> <!-- render each dog in the collection automatically -->
        </div>
    <% end %>
</div>