<h2>Your adoption request has been rejected</h2>
<p>Dear <%= @user.name %>,

Very sorry, but your adoption request has been rejected. Probably another parent had better conditions for adoption. Try again next time!</p>

<p>Best regards,

Pet Shelter</p>