<h1>Contact Us</h1>
<p>First Name: <%= @contact[:first_name] %></p>
<p>Last Name: <%= @contact[:last_name] %></p>
<p>Email: <%= @contact[:email] %></p>
<p>Message: <%= simple_format(@contact[:message]) %></p>