<section class="back-img">
    <div class="container">
        <h1>Walking Reservation</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">New Reservation</h5>
                        <p class="card-text">Create a new walking reservation for your dog.</p>
                        <%= link_to "New Reservation", new_dog_walking_reservation_path(@dog), class: "btn btn-primary" %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
