
<section class="back-img">
    <div class="container">
        <div class="about-us-list">
            <% @about_us.each do |about| %>
            <%= render "common/about_us_item", about: about %>
            <% end %>
        </div>
    </div>
</section>
