
<section>
    <div class="container">
        <%= render "common/charlie", title: "about us", info: "My name is Charlie and I’m going to tell you about our project!" %>
        <%= render "common/about_us_item", collection: @about_us, as: :item %>
    </div>
</section>
