<div>
    <h4>Feel free to contact us</h4>
    <p>At et vehicula sodales est proin turpis pellentesque sinulla a aliquam 
    amet rhoncus quisque eget sit. Sociis blandit et pellentesque aliquet at quisque tortor lacinia nullam</p>
    <ul>
        <li>18015 Mytnytska str., Cherkasy, Ukraine</li>
        <li>rgarton@outlook.com</li>
        <li>+380 98 288 46 18</li>
        <li>Mon - Fri: 9AM - 6PM </li>
    </ul>
</div>
