<h2>Congratulations! Your adoption request has been accepted</h2>
<p>Dear <%= @user.name %>,

Your adoption request has been accepted. Please come to the shelter to pick up your new furry friend.</p>

<p>Best regards,

Pet Shelter</p>