<div class="about-us-item">
    <div class="about-us-item-info">
        <h2><%= item[:title] %></h2>
        <p><%= item[:info] %></p>
    </div>
    <div class="about-us-item-image">
        <%= image_tag item[:image] %>
    </div>
</div>