<div class="about-us-item">
  <div class="about-us-item-info">
    <h2><%= about[:title] %></h2>
    <p><%= about[:info] %></p>
  </div>
  <div class="about-us-item-image">
    <%= image_tag about[:image] %>
  </div>
</div>