<div class="d-flex w-100 mt-5">
    <div class="charlie w-100">
        <%= image_tag "charlie.png", height: 268 %>
        <div class="charlie-info">
            <p><%= info %></p>
        </div>
    </div>
    <h2 class="charlie-title"><%= title %></h2>
</div>
