<section class="back-img">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 order-2 order-md-1">
        <%= render 'reports/report_form'%>
      </div>
      <div class="col-12 col-md-6 order-1 order-md-2">
        <%= render 'reports/contacts'%>

      </div>
    </div>
    <div class="map-frame mt-5">
      <div id="map"
          data-lat="49.430895"
          data-lng="32.067994"
          data-zoom="13">
      </div>
    </div>
  </div>
</section>
