<section class="hero">
    <div class=" hero-container">
        <div class="hero-info">
            <h1>Happiness is closer than you think</h1>
            <button  type="button" class="btn btn-primary">Let's go </button>
        </div>
    </div>
</section>